* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
}

#header {
    background-color: black;
    color: #fff;
    height: 46px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.nav {
    display: inline-block;
}

.nav li {
    font-size: 15px;
    display: inline-block;
    color: #fff;
    position: relative;
}

.nav > li:hover > a,
.nav .subnav li:hover a {
    background-color: #ccc;
    color: black;
}

.nav li:hover .subnav {
    display: block;
}

.nav > li > a {
    color: #fff;
}

.nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    height: 46px;
    display: block;
}

.chevron {
    font-size: 10px;
    line-height: 45.5px;
}

.nav .subnav {
    position: absolute;
    min-width: 160px;
    top: 46px;
    font-size: 15px;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.subnav li {
    width: 100%;
}

.nav .subnav a {
    text-decoration: none;
    color: black;
    line-height: 38px;
}

.magnifying-glass {
    font-size: 15px;
    float: right;
    padding: 14.5px 24px;
}

.slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('./image/slide.jpg') top center / cover ;
    position: relative;
}

.text-content {
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 32px;
}

.text-heading {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
}

.text-description {
    font-size: 15px;
    font-weight: bolder;
}

.content-section {
    padding: 64px 16px;
    margin: 0px 350px;
}

.section-heading {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
}

.section-sub-heading {
    text-align: center;
    font-style: italic;
    opacity: 0.7;
    margin: 25px 0px;
}

.about-content {
    text-align: justify;
    font-size: 15px;
}

.member-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
} 

.member {
    text-align: center;
    font-size: 15px;
}

.member-img {
    margin-top: 20px;
    border-radius: 5px;
    height: 154px;
    width: 154px;
}

.tour-dates {
    background-color: #000;
    color: #fff;
    padding: 90px 350px;
    font-size: 15px;
}

.tour-inf-table {
    background-color: white;
    color: #000;
    margin: 50px auto;
}

.inf-soldout {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #757575;
    border-bottom: 1px solid #ddd;
    padding: 5px 0px 5px 15px;
}

.sd-notice {
    background-color: red;
    color: white;
    padding: 3px 8px;
    margin: 5px 0px;
}

.pos-badge {
    justify-content: space-between;
}

.badge {
    background-color: #000;
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
    margin-right: 20px;
}

.places-container {
    display: flex;
    gap: 20px;
    font-size: 15px;
}

.place-items {
    width: 245px;
    background-color: white;
    color: #000;
}

.img-place {
    width: 100%;
}

.place-inf {
    padding: 15px 15px;
}

.place-name {
    font-weight: bold;
}

.place-date {
    color: #757575;
    margin: 15px 0px;
}

.btn-buy {
    background-color: #000;
    color: white;
    padding: 10px 15px;
    width: 50%;
    margin-top: 15px;
    text-align: center;
}

.contact {
    padding: 90px 350px;
}

.bl-contact {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    font-size: 18px;
}

.inf-contact {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}

.inf-name {
    padding: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.inf-mail {
    padding: 10px;
    margin: 0px 0px 10px 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.inf-mess {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
}

.btn-send {
    background-color: #000;
    color: white;
    padding: 10px;
    margin-top: 20px;
    width: 17%;
    text-align: center;
    float: right;
}

.image {
  width: 100%;
}

.footer {
    margin: 90px 350px;
    font-size: 15px;
}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 25px;
}

.icon-items {
    font-size: 27px;
}

.powered {
    display: flex;
    gap: 5px;
    color: #757575;
    justify-content: center;
}

.powered a {
    color: #757575;
    text-decoration:underline;
}

